---
layout: default
title: Home
---

<p><img src="{{ site.baseurl }}images/Kyle_web.jpg"></p>
<div class="message" style="text-align:center";>
  <p>'Science is organized knowledge. Wisdom is organized life.'<br> Will Durant</p>
</div>
<div class="posts" style="clear:left">
<p>
	I am a biomedical engineering post-doc working in <a href="https://ki.se/en/fyfa/the-ruas-lab-molecular-and-cellular-exercise-physiology">Dr. Jorge Ruas's Lab</a>.
	My main focus is on exploring the interactions between adipose tissue and sensory neurons. 
	I am particularly interested in local communication, such as the effects of sensory neuropeptides on adipocyte lipolysis and adipokine production.
	It is a large departure from my previous work, though connected by my fascination with tissue adaptation and remodelling. 
	During my graduate studies, under the mentorship of <a href="https://www.peircecottlerlab.com/">Dr. Shayn Peirce-Cottler</a> and 
	<a href="http://bme.virginia.edu/muscle/">Dr. Silvia Blemker</a>, I created computational models to simulate muscle atrophy and regeneration.
	With the guidance of <a href="http://christlab.org/">Dr. George Christ</a>, my first post-doctoral work focused on skeletal muscle regeneration in hindlimb muscles.
	Please check out my <a href="{{ site.baseurl }}Research">research</a>  section for details on many of the projects I am involved in!
<!-- 	<a href="{{ site.baseurl }}/posts/test">atrophy</a>
	<a href="{{ site.baseurl }}about">test2</a>  -->	
</p>
<div class="message" align="middle";>
  <p>If you have any questions, please email me <br> <strong> kyle.s.martin at gmail.com </strong> <br> Or contact me through <a href="https://www.linkedin.com/in/kyle-martin-2437371b/">LinkedIn</a></p>
</div>
<!-- ATROPHY MOVIE <iframe width="480" height="360" src="https://www.youtube.com/embed/oXthci6ar5s?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1" frameborder="0"></iframe>
INFLAMMATION MOVIE <iframe width="480" height="360" src="https://www.youtube.com/embed/sJIq7gGsWjE?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1" frameborder="0"></iframe> -->

<!-- <p style="float: left;"><img src="{{ site.baseurl }}images/me_laughing.jpg" style="width:304px"></p>
<p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p> -->
<!-- <div>
    <p style="float: left;"><img src="http://placekitten.com/g/200/200" height="200px" width="200px" border="1px"></p>
    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
</div> -->

<!-- {% assign pages_list = site.pages %}
      {% for node in pages_list %}
          {% if node.title == "Test" %}
            {{ node.content }}
          {% endif %}
      {% endfor %} -->
	  
</div>
<!-- 
<div class="posts" style="clear:left">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
    {% capture content_words %}
      {{ post.content | number_of_words }}
    {% endcapture %}
    {% capture excerpt_words %}
      {{ post.excerpt | number_of_words }}
    {% endcapture %}
    {% if excerpt_words != content_words %}
     <a href="{{ post.url }}">Read more...</a>

    {% endif %}
	
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->