---
layout: default
title: Home
---

<p style="float: left;"><img src="{{ site.baseurl }}images/Kyle_web.jpg" style="width:400px"></p>
<div class="message" align="middle";>
  <p>'Science is organized knowledge. Wisdom is organized life.'<br> - Will Durant</p>
</div>
<div class="posts" style="clear:left">
<p>
	Welcome to my website! In December 2016, I finished my biomedical engineering graduate work under the 
	mentorship of <a href="http://bme.virginia.edu/peirce/">Dr. Shayn Peirce-Cottler</a> and 
	<a href="http://bme.virginia.edu/muscle/">Dr. Silvia Blemker</a>. Early in my career at the University of Virginia, I took numerous courses 
	on computational modeling which sparked my interest in understanding biological phenomenon through models.
	In particular, I am fascinated by skeletal muscle and its ability to constantly adapt and remodel.
	I was able to combine these two passions during my graduate career by developing agent-based models of skeletal muscle 
	atrophy and injury.
	Under the guidance of Dr. George Christ, my current post-doctoral work is wet-lab based, increasing my purview to include vascular and nerve adaptation following muscle injury. 
	Please check out my <a href="{{ site.baseurl }}research">research</a>  section for details on many of the projects I am involved in!
<!-- 	<a href="{{ site.baseurl }}/posts/test">atrophy</a>
	<a href="{{ site.baseurl }}about">test2</a>  -->	
</p>
<div class="message" align="middle";>
  <p>If you have any questions, feel free to email me <br> <strong> ksm5ha@virginia.edu  </strong> </p>
</div>
<!-- ATROPHY MOVIE <iframe width="480" height="360" src="https://www.youtube.com/embed/oXthci6ar5s?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1" frameborder="0"></iframe>
INFLAMMATION MOVIE <iframe width="480" height="360" src="https://www.youtube.com/embed/sJIq7gGsWjE?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1" frameborder="0"></iframe> -->

<!-- <p style="float: left;"><img src="{{ site.baseurl }}images/me_laughing.jpg" style="width:304px"></p>
<p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p> -->
<!-- <div>
    <p style="float: left;"><img src="http://placekitten.com/g/200/200" height="200px" width="200px" border="1px"></p>
    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
</div> -->

<!-- {% assign pages_list = site.pages %}
      {% for node in pages_list %}
          {% if node.title == "Test" %}
            {{ node.content }}
          {% endif %}
      {% endfor %} -->
	  
</div>
<!-- 
<div class="posts" style="clear:left">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
    {% capture content_words %}
      {{ post.content | number_of_words }}
    {% endcapture %}
    {% capture excerpt_words %}
      {{ post.excerpt | number_of_words }}
    {% endcapture %}
    {% if excerpt_words != content_words %}
     <a href="{{ post.url }}">Read more...</a>

    {% endif %}
	
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->